* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 2px solid black;
  padding: 2rem;
}

.pageBtn {
  cursor: pointer;
  padding: 3px 5px;
}

.pageBtn:hover {
  background: black;
  color: white;
  border-radius: 5px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
