* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 5px;
  padding-top: 20px;
  text-align: center;
}

#selectRate {
  cursor: pointer;
}

#selectRate i {
  color: blue;
}

#rate1,
#rate2,
#rate3,
#rate4,
#rate5 {
  display: none;
}

#rate1 i,
#rate2 i,
#rate3 i,
#rate4 i,
#rate5 i {
  color: goldenrod;
}

#sort_up {
  display: none;
}
